/* General styling */
body{
    background-color: hsl(20, 50%, 98%);
    margin-bottom: 20px;
    font-family: Red Hat Text, sans-serif;

}

h1{
    margin-left: 5%;
}

p{
    margin: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Products Section */
.products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.product-div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 90%;
}

.product-img-div{
    position: relative;
}

.product-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-category{
    color: hsl(7, 20%, 60%);
}

.product-name{
    color: hsl(14, 65%, 9%);
    font-size: 16px;
    font-weight: 600;
}

.product-price{
    color: hsl(14, 86%, 42%);
    font-weight: 500;
}

.add-to-cart-btn-div{
    font-weight: 600;
    color: hsl(14, 65%, 9%);
    justify-content: space-around;
    align-items: center;
    display: flex;
    background-color: hsl(14, 86%, 42%);
    color: white;
    border: 1.4px solid hsl(14, 25%, 72%);
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
}

.cart-icon{
    margin-right: 10px;
}

.add-to-cart-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: content;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid white;
    background-color: transparent;
    cursor: pointer;
}

/* Your Cart Section */
.cart-section{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    background-color: white;
    width: 90%;
    min-height: 200px;
    border-radius: 15px;
}

.cart-items-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.cart-header{
    margin-left: 30px;
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 600;
}

.empty-cart-text{
    color: hsl(12, 20%, 44%);
}