/* General styling */
body{
    background-color: hsl(20, 50%, 98%);
    margin-bottom: 20px;
    font-family: Red Hat Text, sans-serif;
    
}

h1{
    margin-left: 5%;
}

p{
    margin: 4px;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

/* Products Section */
.products-section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 30px;
}

.product-div{
    display: grid;
    grid-template-columns: 1fr;
    gap: 25px;
    width: 90%;
}

.product-img-div{
    position: relative;
}

.product-img{
    width: 100%;
    height: auto;
    border-radius: 10px;
}

.product-category{
    color: hsl(7, 20%, 60%); 
}

.product-name{
    color: hsl(14, 65%, 9%);
    font-size: 16px;
    font-weight: 600;
}

.product-price{
    color: hsl(14, 86%, 42%);
    font-weight: 500;
}

#add-to-cart-btn-div{
    font-weight: 600;
    justify-content: space-around;
    align-items: center;
    display: flex;
    border-radius: 25px;
    position: absolute;
    left: 50%;
    bottom: -20px;
    transform: translateX(-50%);
    width: 150px;
    height: 40px;
}

.active-cart-btn-div{
    background-color: hsl(14, 86%, 42%);
    color: white;
}

.inactive-cart-btn-div{
    background-color: hsl(20, 50%, 98%);
    color: hsl(14, 65%, 9%);
    border: 1px solid hsl(14, 65%, 9%);
}

#add-to-cart-btn-div > .add-to-cart-inactive{
    background-color: transparent;
    border: none;
    width: 90%;
    height: 90%;
    justify-content: center;
    align-items: center;
    display: flex;
}

.cart-icon{
    margin-right: 10px;
}

 .toggle-item-quantity-btn{
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    contain: content;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1.5px solid white;
    background-color: transparent;
    cursor: pointer;
}

/* Your Cart Section */
.cart-section{
    display: flex;
    position: relative;
    justify-content: center;
    flex-direction: column;
    padding: 20px 0px;
    background-color: white;
    width: 90%;
    min-height: 200px;
    border-radius: 15px;
}

.cart-header{
    position: absolute;
    top: 20px;
}

.cart-items-div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;   
    gap: 15px;
}

.cart-header{
    margin-left: 30px;
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 600;
}

.empty-cart-text{
    color: hsl(12, 20%, 44%);
}

.cart-item{
    display: flex;
    align-items: center;
    width: 90%;
    border-bottom: 1.5px solid hsl(13, 31%, 94%);
    padding-bottom: 20px;
}

.cart-item > .remove-item-btn{
    height: 22px;
    width: 22px;
    padding: 0px;
    border: 2px solid hsl(14, 25%, 72%);
    border-radius: 50%;
    background-color: transparent;
    justify-content: center;
    cursor: pointer;
}

.remove-item-btn > img {
    padding: 0px;
    margin: 0px;
}

.cart-item-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.cart-item-info > .item-info{
    display: flex;
    gap: 16px;
}

.item-name{
    color: hsl(14, 65%, 9%);
}

.quantity{
    color: hsl(14, 86%, 42%);
}

.price{
    color: hsl(7, 20%, 60%);
}

.total-item-price{
    color: hsl(12, 20%, 44%);
}

.checkout{
    display: flex;
    flex-direction: column;
    width: 90%;
    gap: 20px;
}

.order-total{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: hsl(12, 20%, 44%);
}

.order-total-price{
    color: hsl(14, 65%, 9%);
    font-weight: 600;
    font-size: 27px;
}

.carbon-status{
    display: flex;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
    background-color: hsl(20, 50%, 98%);
    color: hsl(12, 20%, 44%);
}

.carbon-status > span{
    margin: 0px 3px;
    color: hsl(14, 65%, 9%);
    font-weight: 600;
}

.checkout > button {
    padding: 15px;
    background-color: hsl(14, 86%, 42%);
    border: none;
    border-radius: 25px;
    color: hsl(20, 50%, 98%);
    font-family: Red Hat Text, sans-serif;
    font-size: 16px;
    cursor: pointer;
}